/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F5F8FF;
}

/* Shared Style */
.section{
    margin-bottom: 120px;
}
.section-title{
    font-size: 3.125rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;
}
.section-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.title-accent{
    color: #E95A08;
}


/* Header Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.menu-items{
    display: flex;
    gap: 48px;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    text-decoration: none;
    color: black;
    color: #8987A1;
} 
#nav-home{
    color: #252432;
    font-weight: bold;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cart{
    color: #000000;
    padding-right: 24px;
}


/* Banner Section */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}
.banner-content, 
.banner-image {
    flex: 1;
}
.banner-content{
    padding-right: 30px;
}
#banner-title{
    font-size: 4.125rem;
}
.banner-image{
    width: 100%;
    height: auto;
}



/* Mobile/Small device Responsive */

@media screen and (max-width: 576px) {
    /* Navbar Responsive */
    .menu-item{
        display: none;
    }

    /* Banner Responsive */
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-content{
        width: calc(100%-40px);
        padding: 0;
        margin-left: 20px;
    }


}